button {
    font-weight: 600;
    color: white;
    border: none;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
    padding: 14px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: #4e44ce;
    border-radius: 6px;
    margin: 10px;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
    }
  
  button:hover {
    background: #423aa9;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }